/* bootstrap colors are change in this css section */


/* primary color is changed to darkslatblue */
.bg-primary{

    background-color:darkslateblue !important;
}

/* warning color is changed to dimgray */
.bg-warning{
    background-color:dimgray !important;
}


/* light color is changed to darkoilvegreen */

.bg-light{
    background-color:darkolivegreen !important;
}